.b-content__inline_item.watched .b-content__inline_item-cover::before,
.b-content__inline_item.in-progress .b-content__inline_item-cover::before,
.b-content__inline_item.to-watch .b-content__inline_item-cover::before,
.b-content__inline_item.dropped .b-content__inline_item-cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.b-content__inline_item.in-progress .b-content__inline_item-cover::before {
  box-shadow: inset 0 0 20px 10px #f0e68c;
}

.b-content__inline_item.watched .b-content__inline_item-cover::before {
  box-shadow: inset 0 0 20px 10px #90ee90;
}

.b-content__inline_item.dropped .b-content__inline_item-cover::before {
  box-shadow: inset 0 0 20px 10px #ee9090;
}

.b-content__inline_item.to-watch .b-content__inline_item-cover::before {
  box-shadow: inset 0 0 20px 10px #90b1ee;
}

.b-content__inline_item .ratings {
  border: 1px solid #ccc;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parse-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  z-index: 1000;
}

.parse-button.parsing {
  background-color: #ffc107;
}

.parse-button.parsing:hover {
  background-color: #dc3545;
}
